!!!
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/libs/bootstrap/css/spruce.bootstrap.min.css')
    //link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar
      .navbar-inner
        .container
          .brand Silkapp Querier

    .container
      .row
        .span12
          select#sites
      .row
        .span12
          select#document
      .row.hidden
        .span12
          select#tags
      .row.hidden
        .span12
          textarea#query
      .row
        .span12
          #timeline.hidden
      .row
        .span12
          #error.hidden
            | Can't generate timeline


    script(src="/libs/jquery/1.8.1.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/sugarjs/sugar.min.js")
    script(src="/libs/timeline/compiled/js/storyjs-embed.js")
    script(src="/client/client.js")