!!!
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel='stylesheet', href='/libs/bootstrap/css/journal.bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar
      .navbar-inner
        .container
          .brand Submit

    .container-fluid
      .row-fluid
        form#formQuery.span4
          .control-group
            .control
              textarea#fieldQuery(name="query", placeholder="query", rows="27")
          .control-group
            .control
              button Query Silkapp
        #response.span8

    script(src="/libs/jquery/1.8.1.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/sugarjs/sugar.min.js")
    script(src="/client/client.js")